body {
  margin: 0px;
  background-color: black;
}

.h1 {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.center2 {
  position: absolute; /* alinhamento da div  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  size-adjust: 50%;
  border: 3px solid white;
}

.navbar {
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}
.navbar a {
  /* config da escrita */
  color: white;
}
